@tailwind base;
@tailwind components;
@tailwind utilities;


.space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

@media (min-width: 1024px) {
    .section-bg-img{
        background-image: url('./public/images/bg-curve-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.how-it-works::after{
    content: '';
    position: absolute;
    width: calc(100% - 70%);
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    background-color: hsl(170, 45%, 43%);
}
.how-it-works img{
    width: 35px;
}

@media (min-width: 1024px) {
    .how-it-works::after{
        left: 0;
        transform: translate(0%, -50%);
    }
}
